<script type="text/javascript">
    $(document).ready(function(){
        ActiveMenu();
    });
</script>
<div>
    <table>
        <tr>
            <td><div class="logo"></div></td>
            <td>
                <div id="accountInfo" class="textRight">
                    <a href="javascript:showPage({pageID:'settings',func:'SettingsPage'});"><img class="profilePicThumb" src="images/user_avatars/thumb/default.jpg"
                                                                   title="John's Account"/></a>Welcome <strong name="userName">John</strong>!<br/>
                    <span class="signOut"><a href="javascript:signOut()">Sign Out</a></span>
                </div>
            </td>
        </tr>
    </table>
</div>