<div>
	<h6>FAQs</h6>
	
	<div id="faq-list">
		<p class="faq-title">Question 1</p>
		<div class="faq-description">
			<p>Bacon ipsum dolor sit amet chicken sausage jerky shoulder, tongue tail 
			   spare ribs frankfurter. Chuck ham hock rump ham corned beef tri-tip. Venison 
			   brisket swine andouille. Biltong tenderloin tri-tip pork, ham hock shankle 
			   venison t-bone fatback strip steak. Speck beef tongue shank, shoulder pancetta 
			   jerky brisket ball tip pork chop biltong. Bresaola shank beef ribs pork loin 
			   biltong. Spare ribs brisket ground round meatball, bresaola boudin bacon short 
			   ribs.</p>
	
			<p>Speck strip steak ham hock, bacon pastrami ground round ball tip spare ribs 
			   turducken turkey. Meatloaf turducken pork belly frankfurter, biltong drumstick 
			   corned beef. Leberkas chicken andouille pork beef ribs shankle. Pig strip steak 
			   flank kielbasa corned beef. Brisket chuck filet mignon salami, beef ribeye short 
			   loin shankle meatball ham sirloin turkey sausage hamburger.</p>
		</div>
		
		<p class="faq-title">Question 2</p>
		<div class="faq-description">
			<p>Turducken capicola leberkas, short loin bresaola jowl pork belly meatloaf tri-tip 
			   short ribs beef salami frankfurter. Jerky filet mignon short ribs bresaola, swine 
			   andouille ham hock shankle drumstick. Cow venison t-bone, ball tip leberkas 
			   turducken beef ribs shank strip steak sirloin ham swine sausage tenderloin. 
			   Jerky turkey rump, tongue tenderloin swine venison ground round ham hock kielbasa 
			   tail. Fatback tri-tip prosciutto frankfurter ham hock. Chuck leberkas pastrami, 
			   turkey tongue flank venison hamburger pork belly andouille corned beef cow 
			   shoulder filet mignon. Capicola prosciutto fatback meatloaf.</p>
	
			<p>Pork chop pastrami boudin, brisket turducken pork loin shoulder leberkas. 
			   Venison brisket meatball boudin tenderloin. Pig kielbasa beef ribs meatball. 
			   Chuck pig boudin fatback flank andouille.</p>
		</div>
	</div>
</div>