<form id="netInfo">
    <div>
            <h6>Household Usage For The Current Month</h6>
            <ul class="blockContent">
                <li id="household-usagestatus" class="textCenter"></li>
                <li class="cushion">
                    <div id="household-progressbar"></div>
                    <div class="textCenter light small" id="household-usageprogress"></div>
                </li>
            </ul>
        </div>
    <div>
       <h6>Device Usage For The Current Month</h6>
       <div id="chartarea"></div>
    </div>
</form>