<script type="text/javascript">
    $(document).ready(function(){
        if(!isAdmin()){
            $('.tadmin').remove();
        }
    });
	
	/*
	$("#menuBar").ready(function() {
		RewardPage_checkForUserPointEnabled();
	});
	*/
</script>

<ul id="menuBar">
    <li id="network"><a href="javascript:showPage({pageID:'network',func:'NetworkPage'});" >Network</a></li>
    <li id="history"><a href="javascript:showPage({pageID:'history',func:'HistoryPage'});" >History &amp; Status</a></li>
	<li id="reward" style="display:none"><a href="javascript:showPage({pageID:'reward',func:'RewardPage'});" >Reward Points</a></li>
    <li id="settings"><a href="javascript:showPage({pageID:'settings',func:'SettingsPage'});" >Settings</a></li>
	<li id="support"><a href="javascript:showPage({pageID:'support',func:'SupportPage'});" >Support</a></li>
</ul>