<div id="rewardPage" class="container clearfix">
    <div class="block reward-page">
        <h5>Reward Points</h5>

        <div class="listPanel clearfix">
            <div class="left col25">
                <ul id="userList">
                    <li id="overview"><a href="javascript:loadModule({tar:'userContent',src:'rewardOverview',act:'overview',func:'Reward_rewardOverview'});Reward_clearActive();" class="elementBlock">Overview</a></li>
                    <li class="separator3"></li>
                    <li id="redemption"><a href="javascript:loadModule({tar:'userContent',src:'rewardRedemption',act:'redemption',func:'Reward_redemption'});Reward_clearActive();" class="elementBlock">Reward Redemption</a></li>
                    <li class="separator3"></li>
                </ul>
            </div>
            <div id="userContent" class="right blockContent col75">
            </div>
        </div>
    </div>
</div>