<div id="settingsPage" class="container clearfix">
    <div class="block settings-page">
		<h5>Settings</h5>
		
		<div class="listPanel clearfix">
            <div class="left col25">
                <ul id="userList">
                    <li id="account"><a href="javascript:loadModule({tar:'userContent',src:'settingAccount',act:'account',func:'Setting_account'});Setting_clearActive();" class="elementBlock">Account</a></li>
                    <li class="separator3"></li>
					<li id="point"><a href="javascript:loadModule({tar:'userContent',src:'settingPoint',act:'point',func:'Setting_point'});Setting_clearActive();" class="elementBlock">Reward Point</a></li>
                    <li class="separator3"></li>
                </ul>
            </div>
            <div id="userContent" class="right blockContent col75">
            </div>
        </div>
		
	</div>
</div>