<div id="supportPage" class="container clearfix">
    <div class="block support-page">
        <h5>Support</h5>

        <div class="listPanel clearfix">
            <div class="left col25">
                <ul id="userList">
                    <li id="faqs"><a href="javascript:loadModule({tar:'userContent',src:'faqs',act:'faqs',func:'Support_faqs'});Support_clearActive();" class="elementBlock">FAQ</a></li>
                    <li class="separator3"></li>
					<li id="contact"><a href="javascript:loadModule({tar:'userContent',src:'contact',act:'contact',func:'Support_contact'});Support_clearActive();" class="elementBlock">Contact Us</a></li>
                    <li class="separator3"></li>
                </ul>
            </div>
            <div id="userContent" class="right blockContent col75">
            </div>
        </div>
    </div>
</div>